<header class="header">
  <div class="container">
      <div class="header_inner">
          
         <div class="header_logo">
            <h2 class="header_title">Minishop</h2>
         </div>

         <nav class="nav">
             <a class="nav_link" routerLink="/product">Product</a>
             <a class="nav_link" routerLink="/home">Basket</a>
             <a class="nav_link" routerLink="/cart">Cart</a>
         </nav>
         
      </div>
  </div>
</header>
<router-outlet></router-outlet>
