<div *ngIf="product">
    <h2>Selected product:</h2>
    <div class="delail">
        <div class="product_detail_image">
            <img class="product_detail_image_item" src="{{product.image}}" alt="">
        </div>
        <div class="product_detail_title">
            <p class="product_detail_title_item">{{product.title}}</p>
        </div>
        <div class="product_detail_price">
            <p class="product_detail_price_item">Price: {{product.price}}</p>
        </div>
        <div class="product_detail_category">
            <p class="product_detail_category_item">Category: {{product.category}}</p>
        </div>
        <div class="product_detail_buttons">
            <button class="btn btn-info but_back" (click)="goToProductList()">Back</button>
        </div>
    </div>
</div>